@media only screen and (max-width: 600px) {

}

#banner{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
.row> div {
    padding: 20px;
    background-color:lightslategray;
    border: 2px solid black;
}

.imgKevin .col-sm {
    width: 10px;
    height: 10px;
}

.aboutMe{
    text-align: center;
}

.logo{

}

.resumeLink{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid red;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

th{
    text-align: center;
}

.nav{
    background-color: black;
}

.label{
    margin-bottom: 10%;
}

p::selection{
    color:white;
    background-color: black;

}

a:hover{
    background-color: yellow;
}

a{
    cursor: none;
}
