@media only screen and (max-width: 600px) {

}

.row > div {
    padding: 20px;
    background-color:lightslategray;
    border: 2px solid black;
}

.imgKevin .col-sm {
    width: 10px;
    height: 10px;
}

.aboutMe{
    text-align: center;
}

.resumeLink{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

th{
    text-align: center;
}
